<section class="w-75 mx-auto  shadow" *ngIf="cartDetails; else empty">
 <div class="d-flex justify-content-between align-items-center">
  <div class="">
    <h1>Your Cart</h1>
  <p class="text-main">Total : {{cartDetails.totalCartPrice|currency:'EGP '}}</p>
  </div>
<div class="ms-auto">
<button class="btn btn-outline-danger " (click)="clearCart()">clear cart</button>
</div>
 </div>
    <div class="row g-2 border-bottom" *ngFor="let item of cartDetails.products " >
<div class="d-flex align-items-center" >
    <div class="col-md-2 ">
        <img [src]="item.product.imageCover" alt="" class="w-100">
    </div>
    <div class="col-md-10 justify-content-between d-flex">
      <div class="">
        <h2 class="h6">{{item.product.title}}</h2>
        <p class="text-main">{{item.price|currency:'EGP'}}</p>
        <h5 class="text-main">Total: {{item.count*item.price|currency:'EGP '}}</h5>
        <button class="btn text-main p-0 m-0" (click)="removeItem(item.product._id)"><i class="fa-regular fa-trash-can"></i>Remove</button>

      </div>
      <div class="p-3">
<br>
<div class="">
  <button class="text-main btn" (click)="changeCount(item.product._id,item.count-1)"> <i class="fa-solid fa-circle-minus"></i></button>
  <span>{{item.count}}</span>
  <button class="text-main btn" (click)="changeCount(item.product._id,item.count+1)"> <i class="fa-solid fa-circle-plus"></i></button>
</div>
      </div>
    </div>
</div>
</div>
<button class="btn-main m-2" [routerLink]="['/payment',cartDetails._id ]">GoToPayment<i class="fa-solid fa-arrow-right"></i></button>
</section>
<ng-template #empty>
  <div class="w-100 text-center p-0 m-0">
<img src="./assets/preview.png" alt="" class="w-50">
   <p class="h1">your cart is empty </p>
  </div>
</ng-template>