<nav
    class="navbar navbar-expand-md navbar-light fixed-top bg-light"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="./assets/freshcart-logo.svg" alt=""></a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0 text-capitalize">
                
                <li class="nav-item">
                    <a class="nav-link"  routerLink="home" routerLinkActive="active-link">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="cart">cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products" routerLinkActive="active-link">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="brands" routerLinkActive="active-link">brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="cate">categories</a>
                </li>
                
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 ">
                <li class="nav-item mx-3">
                    <a routerLink="/wishlist" routerLinkActive="bg-warning rounded-3 p-2 "> <i class="fa-solid fa-heart text-danger "></i></a>
                </li>
                <li class="nav-item">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a href=""><i class="fa-brands fa-tiktok"></i></a>
                </li>
                <li class="nav-item">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a href="" (click)="signout()">signout<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </li>
            </ul>
           
        </div>
    </div>
</nav>
